<ion-view view-title="Scan a SYC Sticker">
  <ion-content>
    <div class="incident-instructions">
      <a class="button button-full" href="#/browse">Cancel</a>
    </div>
    <div class="result success" ng-show="success === true">
      <img src="img/success.png" />
      <p>Place the sticker on the car and we'll handle the rest</p>
      <a href="#/app/" class="button continue">Continue</a>
    </div>
    <div class="result fail" ng-show="success === false">
      <img src="img/fail.png" />
      <p>We couldn't send your request right now. Please try again later.</p>
      <a href="#/app/" class="button continue">Continue</a>
    </div>
  </ion-content>
</ion-view>
